/**
 * CSS style for carouselTicker
 **/

.carouselTicker__list {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.carouselTicker__item {
  margin: 0 0 0 5px;
  float: left;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.carouselTicker__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff url("../images/loader.gif") center center no-repeat;
}

/**
 * CSS style for vertical direction
 **/

.carouselTicker_vertical .carouselTicker__list {
  margin: 0;
}

.carouselTicker_vertical .carouselTicker__item {
  margin: 0 0 5px 0;
  border: 4px solid red;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

#carouselTicker .carouselTicker__item,
#carouselTicker-destructor-example .carouselTicker__item {
  width: auto;
  height: auto;
  line-height: normal;
}

.carouselTicker__item img {
  vertical-align: top;
}




/* carouselticker 커스텀 */
/* 슬라이드 박스 크기 조정 */
#carouselTicker ul > li > div {
  width: 406px; height: 375px;
  background-position: center;
  background-repeat: no-repeat;
}
/* 기본 아웃라인 제거 */
.carouselTicker__item {
  border: none;
  margin-right: 50px;
}
.box1 {
  background-size: contain;
  background-image: url('../img/content2/box1.png');
}
.box2 {
  background-size: contain;
  background-image: url('../img/content2/box2.png');
}
.box3 {
  background-size: contain;
  background-image: url('../img/content2/box3.png');
}
.box4 {
  background-size: contain;
  background-image: url('../img/content2/box4.png');
}
.box5 {
  background-size: contain;
  background-image: url('../img/content2/box5.png');
}
.carouselTicker__item .text {
  display: inline-block;
  text-align: center;
  margin: 55px 55px 50px 40px;
}
.carouselTicker__item .text > ul > li {margin-bottom: 15px;}
/* 아이콘 크기 조절 */
.carouselTicker__item .text > ul > li:nth-child(1) > img {
  width: 100px;
}
.carouselTicker__item .text > ul > li:nth-child(2) {
  font-size: 2.4em;
  font-weight: 500;
}
.carouselTicker__item .text > ul > li:nth-child(3) {
  font-size: 1.5em;
}